Architecture: amd64
Depends: systemd, libc6 (>= 2.38), libgcc-s1 (>= 3.0), libssl3t64 (>= 3.0.0), libstdc++6 (>= 13.1)
Description: softadastra built using CMake
Maintainer: Softadastra <support@softadastra.com>
Package: softadastra
Priority: optional
Section: devel
Version: 0.1.0
Installed-Size: 18961

