[Unit]
Description=Softadastra Host
After=network.target

[Service]
Type=simple
User=softadastra
Group=softadastra
Environment=XDG_STATE_HOME=/var/lib
ExecStart=/opt/softadastra/bin/softadastra host
Restart=on-failure
RestartSec=2
StateDirectory=softadastra
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
