<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "https://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Softadastra</vendor>
  <vendor_url>https://softadastra.com</vendor_url>
  <action id="com.softadastra.firewall.status">
    <description>Read Softadastra local access status</description>
    <message>Read the firewall status for a Softadastra local access rule.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/softadastra-firewall-status</annotate>
  </action>
  <action id="com.softadastra.firewall.modify">
    <description>Modify Softadastra local access</description>
    <message>Modify a firewall rule owned by Softadastra for local application access.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/softadastra-firewall-modify</annotate>
  </action>
</policyconfig>
